body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #4eba2a;
    color: rgb(255, 255, 255);
    padding: 30px;
    position:fixed;
    width: 100%;
    top:0px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

.logo {
    max-height: 30px; /* Adjust height to fit the header */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.cart-button {
    background-color: #4ff24f;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin-right:30px;
}

main {
    padding: 20px;
    margin-top: 50px;
}

h2 {
    color: #4CAF50;
}

.offers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.offer-item {
    background-color: white;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.offer-item:hover {
    transform: scale(1.05);
}

.offer-item img {
    max-width: 100%;
    border-radius: 5px;
}

.offer-item h3 {
    color: #4CAF50;
}

.offer-item p {
    font-size: 1.1em;
}

.original-price {
    text-decoration: line-through;
    color: #888;
}

.discounted-price {
    color: #D32F2F; /* Red color for discounts */
    font-weight: bold;
    margin-left: 10px;
}

.offer-item button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.offer-item button:hover {
    background-color: #45a049; /* Darker green */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    width: 100%;
    bottom: 0;
}